# .env
BOT_TOKEN=8283571686:AAHv36ejRPk5jGsHXEypBBY0LR7fWdLHIzk
ADMIN_ID=1776339525
ADMIN_CHANNEL_ID=-1003721750607
DATABASE_URL="postgresql://postgres:root123@localhost:5432/vpn?schema=public"
NODE_ENV=development
OUTLINE_API_URL=https://139.180.142.64:1860/kDiaoqSKqEdoR84o9ZVXog
SERVER_IP=139.180.142.64
DOMAIN=prototypeconnect.xyz
# Use the URL from your screenshot
# CORRECT
WEBHOOK_URL="https://xqapo-119-173-40-155.free.pinggy.net"


Node=ssh -p 443 -R0:localhost:3000 qr@free.pinggy.io